body{
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    margin: 0;
    padding: 0;
}

header{
    display: flex;
    justify-content: space-between;
    padding: 0 20px;
}

.imagem-header{
    width: 120px;
}

.nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 70%;
    border-bottom: solid 3px black;
    font-size: 20px;
}

.nav > li{
    list-style: none;
}

.container-flex{
    display: flex;
    justify-content: center;
    margin: 100px 0;
}

.imagem-main{
    width: 50%;
}

.container-texto{
    display: flex;
    width: 30%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0 70px;
    text-align: center;
}

.container-texto > h3{
    font-weight: 700;
    color: rgb(170, 170, 170);
    margin-bottom: -10px; 
}

.container-texto > h1{
    color:rgb(104, 91, 91);
    margin-bottom: -3px;
}

.container-texto > button{
    background-color: rgb(4, 4, 146);
    width: 250px;
    color: white;
    padding: 15px 0;
    border-radius: 25px;
}

.container-pai{
    margin: 0;
    padding: 100px 20px;
    color: white;
    background-color: rgb(2, 52, 52);
}

.container-flex-filho{
    display: flex;
    justify-content: center;
    margin: 50px 0;
}

.componente-texto{
    width: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.texto-componente{
    border: solid 10px rgb(255, 255, 255);
    border-radius: 20px;
    width: 400px;
    height: 500px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content:space-between;
    transition: 1s;
}
.texto-componente > a{
    background-color: white;
    padding: 20px;
}
.texto-componente:hover{
    background-color: darkblue;
    border:solid 10px rgb(8, 8, 87);
}
.texto-componente > h1{
    font-size: 22px;
}

.texto-componente > p{
    font-size: 15px;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: lighter;
}









@media only screen and (max-width: 1000px) {
    .container-flex{
        flex-direction: column-reverse;
        align-items: center;
    }

    .container-texto{
        width: 80%;
    }

    .imagem-main{
        width: 60%;
    }
    
  }


@media only screen and (max-width: 800px) {

    .nav{
        display: none;
    }

    
  }
